*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{

  background-color: #f0f2f5;
  font-family: 'robo',sans-serif;
}
.container {
  height: calc(100vh - 150px);
  display: flex; /* or inline-flex */
  background-color: #ccc;
  

}
/*logo*/
.logo{
  box-shadow: 0 0 8px #000;
	text-shadow: 0 0 1px #ccc;
	
	background-color: yellow;

	
}


.close-main--card{
  width: 40px; /*largura*/
  height: 40px; /*altura*/
  font-size: 25px; /*tamanho da fonte (X)*/
  line-height:40px;
/*tamanho da linha que contem o texto -
24 é o mesmo tamanho do botão para o X
ficar alinhado no centro (cima-baixo)*/
  text-align: center; /*alinhamento to texto no meio do botão (esq-dir)*/
  position: relative; /*relativo para ficar por posicionado como está
- acima e para fora da caixa de alerta*/
  
 
  left: 82%;
  float: left; /*desacopla o botão do resto dos componentes*/
  border-radius: 50%; /*raio de circunferencia dos cantos - 50% faz cada lado ficar totalmente redondo, criando um botão circular*/
  border: 1px solid #ccc; /*borda do botão*/
  background-color: #F55555; /*cor de fundo do botão*/
  color: #000; /*cor do text*/
  transition: all 0.2s ease; /*animação que ocorre quando alguma ação é realizada*/
  cursor: pointer; /*mostra o dedo de link mostrando que é clicável*/
}
.close-main--card:hover,
.close-main--card:focus {
    color: red;
}





.barra-menu-navigaton{
  width: 150px;
 
  background-color: #111;

}
.barra-menu{
 
  list-style:none;
  
  
}
.barra-menu li a {
    margin-top: 25px;
    color: #fff;
    text-decoration:none; 
    padding:5px 10px;
    margin-bottom: 15px;
    font-weight: bolder;
    display:flex;
}
.barra-menu li a:hover{
    font-size: 25px;
  box-sizing: border-box;
  background:#ccc ;
  color:#fff;
  -moz-box-shadow:0 3px 5px 0px #CCC;
  -webkit-box-shadow:0 3px 10px 0px #ccc;
  text-shadow:0px 0px 5px 0px #fff;
}


/*dados peasoas*/



footer{
  
  background-color: black;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    
 
}
.itens{

  color: #1877f2;
  list-style: none;
  
}
.rodape{
  justify-content: center;
  display: flex;
 background-color: #ccc;
  
}
.rodape LI{
    margin: 25px;

}

@media screen and (max-width: 1000px) {
  .container {
   
    width: 0px;
    height: 100vh;
   
    
  
  }
  .main-cadastro{
    width: 450px;

    flex-direction: column;
    border: none;
    
    
  }
  
  .main--card{
   
    padding: 0px;
    
    width: 450px;
    height: 100%;
    flex-direction: column;
    border: none;

  }
  .nome-sobre {
    margin-left: 0;
    width: 90%;
  }
  .Endereço{
    margin-left: 0;
    width: 90%;
  } 
  
  .logo {
    text-align: center;
    font-size: 58px;
    
 }
  footer{
    display: none;
}
}