  
  body {
    text-align: center;
    color:rgb(233, 218, 218);
    font-size: 25px;
    /*background-image:url("stylo/img/fundo.webp");*/
    background-position: center;
    background-color: rgb(26, 68, 68);
    width: 100%;
    min-height: 100%;
    background: #333;
    background-size: cover;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
  }

  .main{
    display:none;
    justify-content: center;
    background: fixed;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }

  
  
 
  
  /*style the close button*/
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color:white;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: rgb(200, 23, 0);
    text-align: left;
    cursor: pointer;
    padding: 1px 150px;
    top: 2%;
    background: #03e9f4;
    box-shadow: 0 0 1px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4;
}

  /*login sistema*/
  .login-box {
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-image:url("static/fundo.jpg");
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 35px;
  }
  .login-box h2 {
    background-image:url("static/login.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height:200px;
    background-color:transparent;
    border-radius: 50%;
    margin-left: 50px;
    padding: 90px 20px;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  .login-box .user-box input {
    width: 100%;
    padding: 9px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;}
    .login-box .user-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
      }
      #login:focus{
        background-color: transparent;
      }
      .login-box .user-box,input:focus ~ label,
      .login-box .user-box input:valid ~ label {
        top: -25px;
        left: 0;
        color: #03e9f4;
        font-size: 12px;
      }
      
      .login-box form a ,.botaologar,button ,#clicar {
        min-width: 250px;
        min-height: 56px;
        
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #cbd9da;
        background: transparent;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 10px;
        letter-spacing: 4px;
        border: none;
      }
     
      .login-box a:hover ,.botaologar:hover,button:hover{
        font-size: 20px;
        background-image:url("fundologin/fundo.jpg");
        font-family: aria,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 1px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4;
      }
    




summary {
 
touch-action: manipulation;
pointer-events: auto;
  writing-mode: vertical-lr;
  text-align: center;
  padding: 12px 10px;
  width: 400px;
  height: 17px;
  font-size: 25px;
  background-color: var(--primColor);
  border: 2px solid var(--secoColor);
  border-radius: var(--cornerRad);
  color: var(--secoColor);
  cursor: poinnter;
  user-select: none;
  outline: none;
  transition: transform 3ms ease-in-out 0s;
}
.summary  {
    visibility: collapse;
  }


summary::after {
  content: "III";
  letter-spacing: -1px;
}
summary:hover {
  color: red;
  transform: scale(1.1);
}
summary::marker {
  font-size: 0;
}
#pass {
    width: 150px;
    padding-right: 20px;
  }
  
  #olho {
    cursor: pointer;
    left: 80px;
    position: absolute;
    width: 450px;
  }
  


/* add zoom animation*/
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
      -webkit-transform: scale(0)
  }
  to {
      -webkit-transform: scale(1)
  }
  
}

@keyframes animatezoom {
  from {
      transform: scale(0)
  }
  to {
      transform: scale(1)
  }
}

